/* 
Description: This Style sheet is only for rest the web browsers :)
*/
/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;outline: 0;
	 
 
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #000;
	background: #fff ;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
html, body {
	height: 100%;
}
ol, ul {
	list-style: none;
}
/*table {
	border-collapse: separate;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}*/
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
blockquote {
	line-height: 1.2em;
	font-style: italic;
	padding: 20px 20px 20px 60px;
	margin: 20px 0;
	background: url(images/quote.png) no-repeat 0 0;
}
acronym {
	cursor: help;
	border-bottom: 1px dashed #333;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
	line-height:20px;
}
hr {
	 
}
.right {
	float: right;
}
.left {
	float: left;
 
	 
}

.hide {
	display: none;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/*--------- [ Java Script Disable Notification  ] --------------*/
div#att {
    background-color: #fffeb8;
    border-bottom: 1px solid;
    height: 2.5em;
    line-height: 2.5em;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
div#att p {
    background: url(../images/exclamation-diamond.gif) no-repeat 0 46%;
    margin: 0;
    display: inline;
    padding: 6px 0 6px 26px;
}
