<!DOCTYPE html>
<div class="content-wrapper">
	<div class="wrapper">
		<div class="paxTitle">{{pageTitle}}</div>
		
		<input type = "file" file-model = "myFile"/>
        <button ng-click = "uploadFile()">upload me</button>

		
	</div>
	
	<table >
		<tr>
				<td><span ng-show="successVisible" ><img
						src="images/info.png" />{{respmessage}}</span></td>
				
			</tr>
	</table>

</div>
