<!DOCTYPE html>



<!--Content-->
<div class="content-wrapper">
	<div class="wrapper">
		<!-- <div class="paxTitle" >


			<a href="" class="add-new-btn"
				ng-click="popupst='C';resetRuleConfigDialogbox();openRuleConfigPopup()"
				tooltips title="" tooltip-side="top"
				tooltip-content="Please Click to Configure Rule"
				tooltip-size="small"> <span> Rule Config </span>
			</a>
		</div> -->


		</br> </br>
		<div class="headerStyle">Search by File Name</div>

		<table class="createUser">
			<thead>
				<th>File list</th>
				<th>:<select ng-model="rule.rulefilterValue"
					ng-options="fileObj.nameofFile as fileObj.nameofFile for fileObj in filelist"><option
							value="">Select</option></select></th>

				
				 <tr>
					<th colspan="6"><input
						type="button" value="Search"
						ng-click="applyruleSearchFilter(rule)" class="custom-btn">
					</th>

				</tr> 

			</thead>
		</table>


		  <div ng-show="fileData.length>0">
			<table class="createUser" >
				<tr class="headertable">
					<th style="width: 50%">Deal ISO Code</th>
					<th style="width: 50%">Deal Count</th>
				</tr>

				<tr ng-repeat="flObj in fileData">
					<td>{{flObj.dealISOCode}}</td>
					<td>{{flObj.dealCount}}</td>
					
				</tr>
			</table>
			
		</div> 
	
		<br></br>
		
		<a href="../client/#/globalRule" >Back to Main Page</a>
	
	
	</div>

</div>
